.jumbotron {
  background-color: black;
  color: black;
  margin-top: 50px;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat:repeat;
  height: 300px;
  opacity: 0.8;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #333030;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  color:#fcff9e;
}

.card-hotel{
  flex:1 200px;
  margin-top: 10px;

}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon{
  margin-right: 10px
}

.imagenI{
  margin: 10px;
}
