@yellow: #ffc619;
@rojo: #f52811;
@verde:#19ffae;

.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat:repeat;
  height: 300px;
  opacity: 0.8;

}
.tituloCarousel{
  color: @verde;
}

.tituloCarousel2{
  color: @rojo;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  width: 100%;
  color:#444;

}

.card-hotel{
  flex:1 200px;
  .margenes(10px, 0px);

}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon{
  margin-right: 10px
}

.imagenI{
  margin: 10px;
}
