.uno {
  color: #ffc619;
}

.dos {
  color: #19ffae;
}

.tres {
  color: #fc0345;
}

.jumbotron {
  background-color: #ffc619;
  color: black;
  margin-top: 50px;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 300px;
  opacity: 0.8;
  margin-top: 50px;
  margin-bottom: 10px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffc619;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  color: #444;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  margin-right: 10px;
}

.imagenI {
  margin: 10px;
}

/*# sourceMappingURL=styles.css.map */
