$yellow: #ffc619;
$verde:#19ffae;
$red:#fc0345;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}


.uno{
color:$yellow;}

.dos{
color:$verde;}

.tres{
color:$red;}


.jumbotron {
  background-color: $yellow;
  color: black;
  margin-top: 50px;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat:repeat;
  height: 300px;
  opacity: 0.8;
  @include margenes(50px, 10px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
  color:#444;
  @include margenes(10px, 0px);
}

.card-hotel{
  flex:1 200px;
  margin-top: 10px;

}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon{
  margin-right: 10px
}

.imagenI{
  margin: 10px;
}
