.jumbotron {
  background-color: #ffc619;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 300px;
  opacity: 0.8;
}
.tituloCarousel {
  color: #19ffae;
}
.tituloCarousel2 {
  color: #f52811;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ffc619;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  color: #444;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  margin-right: 10px;
}
.imagenI {
  margin: 10px;
}
